body {
    margin: 0;
    background-color: white;
    margin-top: 75px;
}

header {
    background-color: lightblue;
    z-index: 3;
    position: fixed;
    top: 0;
    color: white;
    padding: 20px;
    font-size: 16pt;
    left: 0;
    right: 0;
}

footer { 
    z-index: 1;
    background-color: lightblue;
    color: white;
    padding: 20px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    height: 220px;
    width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-weight: bold;
}

.bilet {
    background-color: white;
    border: 1px solid;
    border-color: black;
    padding: 5px;
    text-align: center;
    height: 350px;
    width: 300px;
    border-radius: 15px;
    line-height: 1.5;
}
