<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Артем Тарбанаков. {% block lab %} {% endblock %}</title>
    <link rel = 'stylesheet' href="{{ url_for('static', filename='main.css') }}">
    {% if request.cookies.get('color') and request.cookies.get('background-color') and request.cookies.get('font-size') %}
    <style>
        body {
            color: {{ request.cookies.get('color') }};
            background-color: {{ request.cookies.get('background-color') }};
            font-size: {{ request.cookies.get('font-size') }}
        }
    </style>
    {% endif %}
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        <div><a href="/menu"> Вернуться в меню </a></div>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Артем Тарбанаков, ФБИ-14, 3 курс, 2023
    </footer>
</body>
</html>