{% extends "base.html" %}

{% block lab %}Лабораторная работа 4 {% endblock %}

{% block main %}
    <h1>Cookies</h1>
    <form method="POST">
        <div>
            <label for="color">Выберите цвет:</label>
            <input type="color" id="color" name="color">
        </div>
        <div>
            <label for="background">Выберите цвет фона:</label>
            <input type="color" id="background" name="background">
        </div>
        <div>
            <label for="font">Выберите размер шрифта:</label>
            <input type="number" id="font" name="font">
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
    </form>
{% endblock %}