<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Артем Тарбанаков. Лабораторная работа {{num}}</title>
</head>
<body>
    <header>    
        WEB-программирование, часть 2. Лабораторная работа {{num}}
    </header>
    <main>
        Основной контент
        <div>11x28 = {{11*28}}</div>
        <div>8452/793 = {{8452/793}}</div>
        <div>45^8 = {{45**8}}</div>
    </main>
    <footer>
        &copy; {{name }}, ФБИ-14, {{course}} курс, 2023
    </footer>
</body>
</html>