{% extends "baza.html" %}

{% block namez %}Авторизация{% endblock %}

{% block main %}
<form method="POST">
    <h1>Авторизация</h1>

    <div>
        <input type="text" name="username" placeholder="username">
        <label for="username">Логин</label>
    </div>

    <div>
        <input type="text" name="password" placeholder="password">
        <label for="password">Пароль</label>
    </div>

    <button type="submit">Авторизироваться</button>
    <div class="errors">{{ errors[0] }}</div>
</form>
{% endblock %}