{% extends "base.html" %}

{% block lab %}Лабораторная работа 3 {% endblock %}

{% block main %}
        
        <h1>Заказ напитка</h1>

        <form class="drinks" action="/lab3/pay">
            <div><b>Напиток:</b></div>>
                <div>
                <input type="radio" value="coffe" name="drink" checked>Кофе (120&#8381)
                </div>
                <div>
                <input type="radio" value="black-tea" name="drink" checked>Черный чай (80&#8381)
                </div>
                <div>
                <input type="radio" value="green-tea" name="drink" checked>Зеленый чай (70&#8381)
                </div>
            <div><b>Добавки:</b></div>>
            <div>
                <input type="checkbox" name="milk" checked>Молоко (30&#8381)
            </div>
            <div>
                <input type="checkbox" name="sugar" checked>Сахар (10&#8381)
            </div>
            <div>
                <button type="submit">Заказать</button>
            </div>
        </form>

{% endblock %}